<?xml version="1.0" encoding="UTF-8" ?>
<config>
    <modules>
        <Ambimax_LazyCatalogImages>
            <version>1.0.0</version>
        </Ambimax_LazyCatalogImages>
    </modules>
    <global>
        <models>
            <ambimax_lazycatalogimages>
                <class>Ambimax_LazyCatalogImages_Model</class>
                <!--<resourceModel>ambimax_sourceprovider_resource</resourceModel>-->
            </ambimax_lazycatalogimages>
            <!--<ambimax_sourceprovider_resource>
                <class>Ambimax_SourceProvider_Model_Resource</class>
                <entities>
                    <source>
                        <table>ambimax_sourceprovider</table>
                    </source>
                </entities>
            </ambimax_sourceprovider_resource>-->
            <fastsimpleimport>
                <rewrite>
                    <import_entity_product>Ambimax_LazyCatalogImages_Model_Import_Entity_Product</import_entity_product>
                </rewrite>
            </fastsimpleimport>
            <catalog>
                <rewrite>
                    <product_media_config>Ambimax_LazyCatalogImages_Model_Rewrite_Product_Media_Config</product_media_config>
                </rewrite>
            </catalog>
        </models>
        <!--<resources>
            <ambimax_sourceprovider_setup>
                <setup>
                    <module>Ambimax_SourceProvider</module>
                </setup>
            </ambimax_sourceprovider_setup>
        </resources>-->
        <helpers>
            <ambimax_lazycatalogimages>
                <class>Ambimax_LazyCatalogImages_Helper</class>
            </ambimax_lazycatalogimages>
            <catalog>
                <rewrite>
                    <image>Ambimax_LazyCatalogImages_Helper_Catalog_Image</image>
                </rewrite>
            </catalog>
            <enhancedgrid>
                <rewrite>
                    <data>Ambimax_LazyCatalogImages_Helper_Rewrite_Enhancedgrid</data>
                </rewrite>
            </enhancedgrid>
        </helpers>
    </global>

    <default>
        <web>
            <lazycatalogimages>
                <enabled>0</enabled>
                <use_square_images>1</use_square_images>
                <base_url></base_url>
                <prevent_media_upload>0</prevent_media_upload>
                <srcset_dimensions>210</srcset_dimensions>
            </lazycatalogimages>
        </web>
    </default>
</config>