<?xml version="1.0" encoding="UTF-8" ?>
<config>
    <modules>
        <Ambimax_LazyCatalogImages>
            <version>2.0.5</version>
        </Ambimax_LazyCatalogImages>
    </modules>
    <global>
        <models>
            <ambimax_lazycatalogimages>
                <class>Ambimax_LazyCatalogImages_Model</class>
            </ambimax_lazycatalogimages>
            <fastsimpleimport>
                <rewrite>
                    <import_entity_product>Ambimax_LazyCatalogImages_Model_Import_Entity_Product</import_entity_product>
                </rewrite>
            </fastsimpleimport>
            <catalog>
                <rewrite>
                    <product_media_config>Ambimax_LazyCatalogImages_Model_Rewrite_Product_Media_Config</product_media_config>
                </rewrite>
            </catalog>
        </models>
        <helpers>
            <ambimax_lazycatalogimages>
                <class>Ambimax_LazyCatalogImages_Helper</class>
            </ambimax_lazycatalogimages>
            <catalog>
                <rewrite>
                    <image>Ambimax_LazyCatalogImages_Helper_Catalog_Image</image>
                </rewrite>
            </catalog>
            <enhancedgrid>
                <rewrite>
                    <data>Ambimax_LazyCatalogImages_Helper_Rewrite_Enhancedgrid</data>
                </rewrite>
            </enhancedgrid>
        </helpers>
        <events>
            <wyomind_elasticsearch_index_export>
                <observers>
                    <add_image_url_to_search_index>
                        <class>ambimax_lazycatalogimages/observer</class>
                        <type>singleton</type>
                        <method>addImageUrlToElasticSearchIndex</method>
                    </add_image_url_to_search_index>
                </observers>
            </wyomind_elasticsearch_index_export>
        </events>
    </global>

    <default>
        <web>
            <lazycatalogimages>
                <enabled>0</enabled>
                <support_image_options>0</support_image_options>
                <generate_webp>0</generate_webp>
                <use_square_images>1</use_square_images>
                <base_url></base_url>
                <prevent_media_upload>0</prevent_media_upload>
                <srcset_dimensions>210</srcset_dimensions>
            </lazycatalogimages>
        </web>
    </default>
</config>